In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
DROP TABLE IF EXISTS Pessoa;
DROP TABLE IF EXISTS Cidade;

In [3]:
CREATE TABLE Pessoa (
    nome VARCHAR(40) NOT NULL,
    nome_da_mae VARCHAR(40) NOT NULL,
    ano_nascimento DATE NOT NULL,
    nome_cidade_natal VARCHAR(30),
    PRIMARY KEY(nome)
);

CREATE TABLE Cidade(
    nome_cidade VARCHAR(30) NOT NULL,
    sigla_estado VARCHAR(2) NOT NULL,
    PRIMARY KEY(nome_cidade)
);

In [7]:
INSERT INTO Pessoa 
    VALUES("Trucy Wright", "Phoenix Wright", "2003-04-15", "Santos");
INSERT INTO Pessoa 
    VALUES("Phoenix Wright", "Mother Wright", "1974-07-24", "Belo Horizonte");
INSERT INTO Cidade 
    VALUES("Santos", "SP");
INSERT INTO Cidade 
    VALUES("Belo Horizonte", "MG");

org.h2.jdbc.JdbcSQLException:  Column "Trucy Wright" not found; SQL statement