In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
-- Exercicio 1

DROP TABLE IF EXISTS Pessoa;
DROP TABLE IF EXISTS Cidade;

CREATE TABLE Pessoa (
    nome VARCHAR(40) NOT NULL,
    nome_da_mae VARCHAR(40) NOT NULL,
    ano_nascimento INTEGER NOT NULL,
    nome_cidade_natal VARCHAR(30),
    PRIMARY KEY(nome)
);

CREATE TABLE Cidade(
    nome_cidade VARCHAR(30) NOT NULL,
    sigla_estado VARCHAR(2) NOT NULL,
    PRIMARY KEY(nome_cidade)
);

In [3]:
-- Exercicio 2

INSERT INTO Pessoa 
    VALUES('Trucy Wright', 'Maya Wright', '2010', 'Santos');
INSERT INTO Pessoa 
    VALUES('Maya Wright', 'Mother Wright', '1974', 'Belo Horizonte');
INSERT INTO Pessoa 
    VALUES('Mother Wright', 'Grand Wright', '1945', 'Belo Horizonte');
INSERT INTO Pessoa 
    VALUES('Grand Wright', 'Grand Grand Wright', '1945', 'Curitiba');
    
    
INSERT INTO Cidade 
    VALUES('Santos', 'SP');
INSERT INTO Cidade 
    VALUES('Belo Horizonte', 'MG');
INSERT INTO Cidade 
    VALUES('Curitiba', 'PR');

In [4]:
-- Exercicio 3

SELECT nome_da_mae FROM Pessoa;

SELECT nome_da_mae FROM Pessoa
    WHERE ano_nascimento <= SELECT EXTRACT(
        YEAR FROM GETDATE()
    )-12
;

In [5]:
-- ExercÃ­cio 04

DROP TABLE IF EXISTS Medicamento;
DROP TABLE IF EXISTS Virus;

CREATE TABLE Medicamento(
    nomeVenda VARCHAR(30) NOT NULL,
    compostoAtivo VARCHAR(30) NOT NULL,
    PRIMARY KEY(nomeVenda)
);

CREATE TABLE Virus(
    nomeCientifico VARCHAR(30) NOT NULL,
    nomePopular VARCHAR(30) NOT NULL,
    incubacao INTEGER NOT NULL,
    nomeVendaMedicamento VARCHAR(30) NOT NULL,
    PRIMARY KEY(nomeCientifico),
    FOREIGN KEY(nomeVendaMedicamento)
        REFERENCES Medicamento(nomeVenda)
            ON DELETE NO ACTION
            ON UPDATE NO ACTION
);


INSERT INTO Medicamento
    VALUES('W', 'medCientW');
INSERT INTO Medicamento
    VALUES('Xo Cancer', 'X');
INSERT INTO Medicamento
    VALUES('Emplasto Hipocondriaco', 'X');
    
INSERT INTO Virus
    VALUES('H1Z1', 'T Virus', '1', 'W');
INSERT INTO Virus
    VALUES('Z3B4', 'Virus Fortin', '3', 'Emplasto Hipocondriaco');
INSERT INTO Virus
    VALUES('HDTV', 'Virus da TV', '8', 'W');
INSERT INTO Virus
    VALUES('HRD', 'Virus do Cancer', '8', 'Xo Cancer');

In [6]:
-- Exercicio 4 A

SELECT vi.nomePopular 
    FROM
        Virus vi
    WHERE
        vi.nomeVendaMedicamento = 'W'
;

In [7]:
-- Exercicio 4 B

SELECT vi.nomePopular 
    FROM
        Virus vi, (SELECT * FROM Medicamento auxme WHERE auxme.compostoAtivo = 'X') me
    WHERE
        (vi.nomeVendaMedicamento = me.nomeVenda)
;

In [8]:
-- Exercicio 5

SELECT DISTINCT compostoAtivo FROM MEDICAMENTO

In [9]:
-- Exercicio 6

DROP TABLE IF EXISTS Medicamento;
DROP TABLE IF EXISTS Virus;
DROP TABLE IF EXISTS Trata;

CREATE TABLE Medicamento(
    nomeVenda VARCHAR(30) NOT NULL,
    compostoAtivo VARCHAR(30) NOT NULL,
    PRIMARY KEY(nomeVenda)
);

CREATE TABLE Virus(
    nomeCientifico VARCHAR(30) NOT NULL,
    nomePopular VARCHAR(30) NOT NULL,
    incubacao INTEGER NOT NULL,
    PRIMARY KEY(nomeCientifico),
);

CREATE TABLE Trata(
    nomeVendaMedicamento VARCHAR(30) NOT NULL,
    nomeCientificoVirus VARCHAR(30) NOT NULL,
    PRIMARY KEY(nomeVendaMedicamento, nomeCientificoVirus),
    FOREIGN KEY(nomeVendaMedicamento)
        REFERENCES Medicamento(nomeVenda)
            ON DELETE NO ACTION
            ON UPDATE NO ACTION,
    FOREIGN KEY(nomeCientificoVirus)
        REFERENCES Virus(nomeCientifico)
            ON DELETE NO ACTION
            ON UPDATE NO ACTION
);


INSERT INTO Medicamento
    VALUES('W', 'medCientW');
INSERT INTO Medicamento
    VALUES('Xo Cancer', 'X');
INSERT INTO Medicamento
    VALUES('Emplasto Hipocondriaco', 'X');
    
INSERT INTO Virus
    VALUES('H1Z1', 'T Virus', '1');
INSERT INTO Virus
    VALUES('Z3B4', 'Virus Fortin', '3');
INSERT INTO Virus
    VALUES('HDTV', 'Virus da TV', '8');
INSERT INTO Virus
    VALUES('HRD', 'Virus do Cancer', '8');
    
INSERT INTO Trata
    VALUES('W', 'H1Z1');
INSERT INTO Trata
    VALUES('Xo Cancer', 'H1Z1');
INSERT INTO Trata
    VALUES('W', 'Z3B4');
INSERT INTO Trata
    VALUES('W', 'HRD');
INSERT INTO Trata
    VALUES('Emplasto Hipocondriaco', 'H1Z1');
INSERT INTO Trata
    VALUES('Xo Cancer', 'HRD');
INSERT INTO Trata
    VALUES('Xo Cancer', 'HDTV');    

-- ##############################
SELECT trmevi.nomePopular AS NomeVirus, trmevi.compostoAtivo as CompostoAtivo
    FROM
        (SELECT vi.nomePopular, trme.compostoAtivo
            FROM
                (SELECT me.compostoAtivo, tr.nomeCientificoVirus, me.nomeVenda
                    FROM Trata tr, Medicamento me
                    WHERE tr.nomeVendaMedicamento = me.nomeVenda) trme,
                Virus vi
            WHERE vi.nomeCientifico = trme.nomeCientificoVirus) trmevi
    WHERE
        trmevi.compostoAtivo = 'X'